#ensure single canonical bastion host in case of future HA setups and accidental multiple assignments of bastion_primary
bastion_primary_host: >-
  {{
    groups['bastion']
    | select('extract', hostvars, 'bastion_primary')
    | list
    | first
  }}