datacenter = "{{ consul_datacenter }}"
node_name  = "{{ inventory_hostname }}"

data_dir = "{{ consul_data_dir }}"

# Client forwards requests, no data, no Raft
# Server participates in Raft, stores data, can become leader
{% if inventory_hostname in groups['consul_servers'] %}
server = true
# minimal number of Consul servers that are required to form a cluster
# applies only to Consul servers (consul_server = true)
bootstrap_expect = {{ groups['consul_servers'] | length }}
{% else %}
server = false
{% endif %}

log_level = "{{ consul_log_level }}"

ui = true

#########################
# ADDRESSES #############
#########################
# Controls Serf gossip (LAN), Raft, RPC between Consul agents
# Used by Other Consul nodes, Vault (as a Consul client), never by humans
# Does not affect HTTP or DNS API
bind_addr   = "{{ consul_internal_bind_addr }}"

# controls which local interfaces Consul listens on for: HTTP API (8500 / 8501), DNS (8600)
# server-side socket bind
# could be ansible_default_ipv4.address, but then Consul listens only on that one IP, loopback may not work
# 0.0.0.0 = listen on all IPv4 interfaces on this node
client_addr = "0.0.0.0"

# for setup with multiple nodes
# the address other nodes should use to reach me
advertise_addr = "{{ consul_internal_advertise_addr }}"



#########################
# TLS with Vault ########
#########################

# verify_outgoing = when this Consul agent connects to another Consul agent or Consul server over TLS, it must verify their TLS certificates.
# verify_incoming = When others connect to this Consul agent, require them to present a client certificate
# (Vault → Consul, Bastion → Consul, CLI → Consul)
# if false - clients authenticate using ACL tokens (opaque bearer tokens stored in Consul’s Raft state) instead of mTLS (temporary config until Vault can issue certificates itself)
# Later: True = mTLS: every client (Vault, Bastion, Consul CLI, health checks) to present a valid TLS client certificate signed by Consul’s CA
# cert SAN must match allowed identities

{% if consul_tls_enabled %}

verify_outgoing = true
verify_incoming = true

# mTLS between Consul agents
verify_incoming_rpc = true

cert_file = "{{ consul_server_cert_path }}"
key_file  = "{{ consul_server_key_path }}"
ca_file = "{{ consul_ca_cert_path }}"


ports {
  http  = -1
  https = {{ consul_https_port }}
  dns   = {{ consul_dns_port }}
}
{% else %}

# =========================
# TLS DISABLED (BOOTSTRAP)
# =========================

# No TLS verification
verify_outgoing = false
verify_incoming = false
verify_incoming_rpc = false

# Listen ONLY on HTTP
ports {
  http  = {{ consul_http_port }}
  https = -1
  dns   = {{ consul_dns_port }}
}

{% endif %}
