KC_DB=postgres
KC_DB_URL={{ keycloak_db_url }}
KC_DB_USERNAME={{ keycloak_postgres_user }}
KC_DB_PASSWORD={{ keycloak_postgres_password }}
KC_BOOTSTRAP_ADMIN_USERNAME={{ keycloak_admin_user }}
KC_BOOTSTRAP_ADMIN_PASSWORD={{ keycloak_admin_password }}
KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true