[Unit]
Description=Keycloak
Requires=network-online.target postgresql.service
After=network-online.target postgresql.service

[Service]
User={{ keycloak_user }}
Group={{ keycloak_group }}
EnvironmentFile={{ keycloak_env_file }}
WorkingDirectory={{ keycloak_home }}
ExecStart={{ keycloak_home }}/bin/kc.sh start --optimized {% if keycloak_tls_enabled %}--http-enabled=false --https-port={{ keycloak_https_port }} --https-certificate-file={{ keycloak_server_cert_path }} --https-certificate-key-file={{ keycloak_server_key_path }} --http-management-port={{ keycloak_management_port }}{% else %}--http-enabled=true --http-port={{ keycloak_http_port }}{% endif %} --hostname={{ oidc_service_name }} --proxy-headers=xforwarded
Restart=on-failure
RestartSec=5
LimitNOFILE=1024000
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target