ui = true

storage "consul" {
  address = "{{ vault_consul_hosts[0] }}:{{ vault_consul_port }}"
  path    = "{{ vault_consul_path }}"
}

listener "tcp" {
  address     = "0.0.0.0:{{ vault_api_port }}"
  {% if vault_api_scheme == 'https' %}
  tls_disable = 0
  tls_cert_file = "{{ vault_tls_dir }}/vault.pem"
  tls_key_file  = "{{ vault_tls_dir }}/vault.key"
  tls_client_ca_file = "{{ vault_tls_dir }}/ca.pem"
  {% else %}
  tls_disable = 1
  {% endif %}
}

api_addr = "{{ vault_api_scheme | default('http') }}://{{ vault_private_ip }}:{{ vault_api_port }}"
cluster_addr = "{{ vault_api_scheme | default('http') }}://{{ vault_private_ip }}:{{ vault_cluster_port }}"

disable_mlock = true

