ui = true

# Consul storage backend
#
# Vault does NOT connect to the Consul cluster or to a Raft leader.
# It connects to exactly one Consul *agent* HTTP endpoint.
# That agent abstracts the cluster and forwards requests to the
# current leader as needed.
#
# address is network endpoint (https(s)://host:port) where Vault reaches Consul.
# path defines where inside Consul's KV store Vault data lives.
storage "consul" {
  address = "{{ consul_api_addr }}"
  path    = "{{ vault_prefix_in_consul_store }}"

  {% if vault_tls_enabled %}
  # mTLS for Vault → Consul
  tls_ca_file   = "{{ vault_ca_cert_path }}"
  tls_cert_file = "{{ vault_client_auth_to_consul_cert_path }}"
  tls_key_file  = "{{ vault_client_auth_to_consul_key_path }}"
  {% endif %}
}



listener "tcp" {
  address     = "0.0.0.0:{{ vault_api_port }}"
  {% if vault_tls_enabled %}
  tls_disable = 0
  tls_cert_file = "{{ vault_server_cert_path }}"
  tls_key_file  = "{{ vault_server_key_path }}"
  # With CA file specified, Vault will require every client to present a TLS client certificate.
  tls_client_ca_file = "{{ vault_ca_cert_path }}"
  {% else %}
  tls_disable = 1
  {% endif %}
}

api_addr = "{{ vault_api_addr }}"
cluster_addr = "{{ vault_cluster_addr }}"

disable_mlock = true

