{{ {
  'oidc_discovery_url': vault_human_oidc_discovery_url,
  'oidc_client_id': vault_human_oidc_client_id,
  'oidc_client_secret': vault_human_oidc_client_secret,
  'default_role': vault_human_oidc_role_name
} | to_nice_json }}