- name: Install required packages
  apt:
    name:
      - unzip
      - curl
    state: present
    update_cache: yes

- name: Create Vault group
  group:
    name: "{{ vault_group }}"

- name: Create Vault user
  user:
    name: "{{ vault_user }}"
    group: "{{ vault_group }}"
    system: yes
    shell: /usr/sbin/nologin

- name: Create Vault directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ vault_user }}"
    group: "{{ vault_group }}"
    mode: "0750"
  loop:
    - "{{ vault_data_dir }}"
    - "{{ vault_config_dir }}"

- name: Check installed Vault version
  command: "{{ vault_binary_path }} version"
  register: vault_installed_version
  failed_when: false
  changed_when: false

- name: Determine whether Vault upgrade is needed
  set_fact:
    vault_upgrade_needed: >-
      {{
        vault_installed_version.rc != 0 or
        vault_version not in vault_installed_version.stdout
      }}
  changed_when: false

- block:
    - name: Download Vault
      get_url:
        url: "https://releases.hashicorp.com/vault/{{ vault_version }}/vault_{{ vault_version }}_linux_amd64.zip"
        dest: "{{ vault_tmp_zip }}"
        mode: "0644"

    - name: Unzip Vault (upgrade binary)
      unarchive:
        src: "{{ vault_tmp_zip }}"
        dest: "{{ vault_install_dir }}"
        remote_src: yes
  when: vault_upgrade_needed
  notify: restart vault


- name: Set Vault binary permissions
  file:
    path: "{{ vault_binary_path }}"
    owner: root
    group: root
    mode: "0755"