---
- name: Bastion as default gateway
  hosts: bastion
  become: true

  vars:
    private_iface: enp7s0
    public_iface: eth0
    git_ssh_key_path: /root/.ssh/git_ed25519

  tasks:
    - name: Ensure required packages are installed
      apt:
        name:
          - iptables
          - iptables-persistent
        state: present
        update_cache: yes

    # -----------------------------
    # IPv4 forwarding
    # -----------------------------
    - name: Enable IPv4 forwarding at runtime and persistently
      sysctl:
        name: net.ipv4.ip_forward
        value: "1"
        state: present
        reload: yes

    # -----------------------------
    # IPTABLES NAT + forwarding
    # -----------------------------
    # NAT masquerade rule
    # Check rule existence (exit code 0 = exists, 1 = does not exist)
    - name: Add NAT masquerade rule if missing
      command: >
        iptables -t nat -C POSTROUTING -o eth0 -j MASQUERADE
      register: nat_masquerade_exists
      #without this, would exit with code 1 if rule missing. Ansible would treat this as fatal error
      failed_when: false 
      changed_when: false

    # add if doesn't exist
    - name: Apply NAT masquerade rule
      command: >
        iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
      when: nat_masquerade_exists.rc != 0

    # Private to public forwarding rules
    # Check rule existence (exit code 0 = exists, 1 = does not exist)
    - name: Check forward rule private → public
      command: >
        iptables -C FORWARD -i enp7s0 -o eth0 -j ACCEPT
      register: priv_to_pub_fwd_exists
      failed_when: false
      changed_when: false

    # add if doesn't exist
    - name: Allow forward private → public
      command: >
        iptables -A FORWARD -i enp7s0 -o eth0 -j ACCEPT
      when: priv_to_pub_fwd_exists.rc != 0

    # Public to private established connection forwarding rules
    # Check rule existence (exit code 0 = exists, 1 = does not exist)
    - name: Check forward rule public → private (established)
      command: >
        iptables -C FORWARD -i eth0 -o enp7s0 -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
      register: pub_to_priv_established_exists
      failed_when: false
      changed_when: false

    # add if doesn't exist
    - name: Allow established public → private
      command: >
        iptables -A FORWARD -i eth0 -o enp7s0 -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
      when: pub_to_priv_established_exists.rc != 0

    # Persist iptables rules
    - name: Ensure iptables-persistent is installed
      apt:
        name: iptables-persistent
        state: present
        update_cache: yes

    - name: Save iptables rules
      command: netfilter-persistent save
      changed_when: false


